@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
}

#cinzel {
  font-family: 'Cinzel Decorative', serif;
}

#playfair {
  font-family: 'Playfair Display', serif;
}
